.main-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 50px;
  margin-bottom: 50px; }

.image {
  height: 150px;
  width: 250px;
  border-radius: 20px;
  border: 1.5px solid #e71e29;
  box-shadow: 12px 15px 10px lightgrey; }

.container-text {
  height: auto;
  width: auto;
  padding: 5px;
  border-radius: 25px;
  background-color: #333333;
  border: 1.5px solid #e71e29;
  box-shadow: 12px 15px 10px lightgrey; }
  .container-text .text {
    color: white;
    margin-left: 10px; }
    .container-text .text .text-title {
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 1.8px; }
    .container-text .text .body {
      font-size: 14px;
      line-height: 27px;
      margin: 0; }
    .container-text .text .end {
      text-align: right;
      font-weight: 600;
      margin: 0;
      padding-right: 10px;
      color: #e71e29; }

.container, .container2 {
  display: grid;
  grid-template-columns: 250px auto;
  grid-gap: 4rem;
  padding: 0; }

.container2 {
  grid-template-columns: auto 250px; }

@media screen and (max-width: 500px) {
  .container, .container2 {
    grid-template-columns: 250px; }
  .container2 {
    transform: scaleY(-1); }
    .container2 .text {
      transform: scaleY(-1); }
    .container2 .image {
      transform: scaleY(-1); } }
